In [1]:
# !python --version

Python 3.12.4

<h1 style="color:springgreen">Python</h1>

- Python is a general purpose and powerful programming language.
- considered as one of the most verstile programming language 
- can be developed almost any kind of application including:
    - desktop applications
    - web
    - IoT
    - AI, ML, and Data Science
    - any many more...
 
- Developed by Guido van Rossum, a Dutch scientist
- At Center For Mathematics and Research, Netherland
- Inspired by ABC programming language

### features of Python
- Simple
- Dynamically Typed
- Robust
- Supports multiple programming paradigms
- Compiled as well as Interpreted
- Cross platform
- Extensible
- Huge Library

In [3]:
# Lets get start!!

# printing "Hare krishna!"

print("Hare Krishna!")

Hare Krishna!

In [5]:
# printing in python 2x be like:

# print "Hare Krishna!"

In [7]:
# print() func in python is used to display output to the console. 
# It can take multiple arg, including string , variables or the results of expression
# and print them on the screen.

# syntax:
# print(*object, sep=' ', end='\n', file=sys.stdout, flush=false)

# *objects: Any number of objects to be printed.
# sep: String inserted between each object (default is a space).
# end: String appended after the last object (default is a newline \n).
# file: Where to print (default is sys.stdout, which is the console).
# flush: Whether to forcibly flush the stream (default is False).

In [9]:
# Basic usage
print("Hello, World!")

# Printing multiple values
name = "Kunal"
age = 20
print("Name:", name, "Age:", age)

# Using custom separator
print("apple", "banana", "cherry", sep=", ")

# Using custom end
print("Hello", end="!")
print("World")

Hello, World!
Name: Kunal Age: 20
apple, banana, cherry
Hello!World

In [11]:
# basics operation\

10 + 20

30

In [13]:
10 - 22

-12

In [15]:
10 * 20

200

In [17]:
10 / 3

3.3333333333333335

In [19]:
10 // 3   # floor division

3

### Python variables

A variable in Python is used to store data values. You can assign values to variables using the = operator.

* **Rules**
    - Variable names must start with a letter or an underscore.
    - They can contain (A-Z, a-z), (0-9), and (_).
    - They are case-sensitive (age and Age are different).

In [22]:
x = 5         # Integer
name = "Kunal"  # String
pi = 3.14     # Float

In [24]:
type(x)   # is used to determine the data type of an object.

int

In [26]:
type(name)

str

In [28]:
type(pi)

float

In [30]:
print(id(name)) # address of memory
print(id(pi))

1892394025536
1892375862288

### keywords - 
are reserved words that have special meanings and cannot be used as variable names or identifiers.

In [36]:
# To see all Python keywords, you can use the following:

import keyword
print(keyword.kwlist)

# how many exactly keyword in python
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

### Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [40]:
#This is a comment.
print("Hola!")  # also it is called single line

Hola!

In [42]:
# python does not supports multiline commands
# but we can use string literals that are not assigned to a variable as multiline comment

"""
This is a comment
written in
more than just one line
"""
print("Hola!")

Hola!

### Data Types -- types of data

- Text Type:  `str`
- Numeric Types:	`int`, `float`, `complex`
- Sequence Types:	`list`, `tuple`, `range`
- Mapping Type:	`dict`
- Set Types:	`set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`
- None Type:	`NoneType`

#### Numbers - int, float, complex

In [53]:
x = 10    # int
y = 2.8  # float
z = 3+4j   # complex --> note in maths i is used for imaginary part but in python j

print(type(x))
print(type(y))
print(type(z))

z.imag

<class 'int'>
<class 'float'>
<class 'complex'>

4.0

#### Python Type Casting
Casting in Python refers to converting one data type to another. Python provides several functions for type casting.

Common casting functions:
* `int()`: Converts to an integer
* `float()`: Converts to a float
* `str()`: Converts to a string
* `list()`: Converts to a list
* `tuple()`: Converts to a tuple

In [27]:
x = "10"        # String
y = int(x)      # Casts x to an integer
print(y)        # Output: 10 (as an integer)

z = float(x)    # Casts x to a float
print(z)        # Output: 10.0

10
10.0

#### String -
A string in Python is a sequence of characters enclosed in quotes 
(single, double, or triple quotes for multi-line strings).

In [29]:
name = "Kunal"
greeting = 'Hello'
paragraph = """This is a multi-line string."""

print(name)
print(greeting)
print(paragraph)

Kunal
Hello
This is a multi-line string.

In [55]:
# common str operations:)

# Concatenation: Combine strings using +

full_name = "Namste!" + " Kunal"  # Output: "Namste! Kunal"
full_name

'Namste! Kunal'

In [57]:
# Repetition: Repeat strings using *

repeat = "Hi! " * 3  # Output: "Hi! Hi! Hi! "
repeat

'Hi! Hi! Hi! '

In [59]:
# Slicing: Access parts of the string

first_letter = name[0]  # Output: 'K'
first_letter

'K'

In [61]:
# Length: Use len() to get string length

length = len(name)  # Output: 5
length

5

In [63]:
# NOTE: Strings are immutable, meaning you can't change them directly after they're created.

#### String Formatting in Python

Python provides several ways to format strings. Below are the most common methods:

In [66]:
# 1. f-strings (Python 3.6+)
# Allows you to embed expressions inside string literals using curly braces {}.


name = "Kunal"
age = 20
greeting = f"My name is {name} and I am {age} years old."
print(greeting)  # Output: "My name is Kunal and I am 20 years old."

My name is Kunal and I am 20 years old.

In [68]:
# 2. format() method
# Uses curly braces {} as placeholders and the format() function to inject variables.


name = "Kunal"
age = 20
greeting = "My name is {} and I am {} years old.".format(name, age)
print(greeting)  # Output: "My name is Kunal and I am 20 years old."

My name is Kunal and I am 20 years old.

In [70]:
# We can also use positional and keyword arguments:

# Positional arguments
greeting = "My name is {0} and I am {1} years old.".format(name, age)
print(greeting)

# Keyword arguments
greeting = "My name is {name} and I am {age} years old.".format(age=20, name="kunal")
print(greeting)

My name is Kunal and I am 20 years old.
My name is kunal and I am 20 years old.

In [72]:
# 3. Percentage % Formatting (Old method)
# Uses % to embed values in strings.


name = "Kunal"
age = 20
greeting = "My name is %s and I am %d years old." % (name, age)
print(greeting)  # Output: "My name is Kunal and I am 20 years old."

My name is Kunal and I am 20 years old.

In [74]:
# 4. Template Strings (From string module)
# Allows for simpler string substitution but requires importing Template from the string module.

from string import Template

# Example of template strings
template = Template("My name is $name and I am $age years old.")
greeting = template.substitute(name="Kunal", age=20)
print(greeting)  # Output: "My name is Kunal and I am 20 years old."

My name is Kunal and I am 20 years old.

In [76]:
# 5. Padding and Alignment
# You can also format strings for padding and alignment using format() or f-strings.

# Padding and alignment
x = 42
print(f"{x:5}")      # Output: "   42" (right-aligned)
print(f"{x:<5}")     # Output: "42   " (left-aligned)
print(f"{x:^5}")     # Output: " 42  " (center-aligned)

   42
42
 42

In [78]:
# Escape sequences are special character combinations used to represent characters that are difficult to type directly or have specific meanings in programming.

# Here are some common escape sequences in Python:

# \n: Newline
# \t: Tab
# \r: Carriage return
# \b: Backspace
# \f: Form feed
# \: Backslash
# ': Single quote
# ": Double quote


print("Hello,\nworld!")
print("This is a\ttabbed line.")

Hello,
world!
This is a	tabbed line.

#### boolean - True, False

In [81]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [83]:
print(bool("Hello"))
print(bool(15))

True
True

In [85]:
# Objects with a __len__ method that returns 0 or False
# are considered empty and evaluate to False.

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Operators in Python

Python divides the operators into the following groups:

* **Arithmetic operators**
* **Assignment operators**
* **Comparison operators**
* **Logical operators**
* **Identity operators**
* **Membership operators**
* **Bitwise o**
erators

In [88]:
# Arithmetic Operators:

a = 10
b = 5

# Addition
result = a + b  # 15
print(result)

# Subtraction
result = a - b  # 5
print(result)

# Multiplication
result = a * b  # 50
print(result)

# Division
result = a / b  # 2.0 (float division)
print(result)

# Floor division (rounds down to the nearest integer)
result = a // b  # 2
print(result)

# Modulus (remainder after division)
result = a % b  # 0
print(result)

# Exponentiation
result = a ** b  # 100000
print(result)

15
5
50
2.0
2
0
100000

In [90]:
# Assignment Operators:)

x = 10
y = 20

x += y  # x = x + y (equivalent to x = 30)
x -= y  # x = x - y (equivalent to x = 10)
x *= y  # x = x * y (equivalent to x = 200)
x /= y  # x = x / y (equivalent to x = 5.0)
x //= y  # x = x // y (equivalent to x = 5)
x %= y  # x = x % y (equivalent to x = 0)
x **= y  # x = x ** y (equivalent to x = 100000)

In [92]:
# Comparison Operators:)
# Used to compare values.

x = 10
y = 20

# Equal to
result = x == y  # False
print(result)

# Not equal to
result = x != y  # True
print(result)

# Greater than
result = x > y  # False
print(result)

# Less than
result = x < y  # True
print(result)

# Greater than or equal to
result = x >= y  # False
print(result)

# Less than or equal to
result = x <= y  # True
print(result)

False
True
False
True
False
True

In [94]:
# Logical Operators:)
# Used to combine Boolean expressions.

a = True
b = False

# AND (both conditions must be True)
result = a and b  # False
print(result)

# OR (at least one condition must be True)
result = a or b  # True
print(result)

# NOT (reverses the value)
result = not a  # False
print(result)

False
True
False

In [96]:
# Identity Operators:
# Used to check if two objects are the same.

x = 10
y = 10
z = 20

# Is (checks if objects are the same)
result = x is y  # True
print(result)


result = x is z  # False
print(result)

# Is not (checks if objects are not the same)
result = x is not z  # True
print(result)

True
False
True

In [98]:
# Membership Operators:
# Used to check if a value is in a sequence.

my_list = [1, 2, 3]
my_string = "hello"

# In
result = 2 in my_list  # True
print(result)

result = "h" in my_string  # True
print(result)

# Not in
result = 4 in my_list  # False
print(result)

result = "z" in my_string  # False
print(result)

True
True
False
False

In [100]:
# Bitwise Operators:
# Used to perform operations on individual bits of numbers.

x = 10  # Binary: 1010
y = 5   # Binary: 0101

# AND (performs bitwise AND)
result = x & y  # 2 (Binary: 0000)
print(result)

# OR (performs bitwise OR)
result = x | y  # 15 (Binary: 1111)
print(result)

# XOR (performs bitwise XOR)
result = x ^ y  # 13 (Binary: 1101)
print(result)

# NOT (performs bitwise NOT)
result = ~x  # -11 (Binary: 10101)
print(result)

# Left shift (shifts bits to the left)
result = x << 2  # 40 (Binary: 101000)
print(result)

# Right shift (shifts bits to the right)
result = x >> 2  # 2 (Binary: 0010)
print(result)

0
15
15
-11
40
2

In [102]:
bin(4)  # binary

'0b100'

In [104]:
print(0b100)

4

In [106]:
hex(1000)

'0x3e8'

In [108]:
oct(12349)

'0o30075'

### Python List
Lists are ordered collections of elements enclosed in square brackets ([]). They can contain elements of different data types

### Characteristics of Lists in Python

- **Ordered**: Elements in a list are stored in a specific order and can be accessed by their index (starting from 0).
- **Mutable**: You can change the elements of a list after it's created.
- **Heterogeneous**: Lists can contain elements of different data types (e.g., integers, strings, floats).
- **Indexing**: Elements are accessed using their index.
- **Slicing**: You can extract subsets of a list using slicing.
- **Methods**: Lists have various methods for common operations like adding, removing, sorting, and more.

In [111]:
my_list = [10, "Hello", 3.14, True]

# Accessing elements
print(my_list[0])  # Output: 10
print(my_list[-1])  # Output: True

# Slicing
print(my_list[1:3])  # Output: ['Hello', 3.14]

# Modifying elements
my_list[2] = 5
print(my_list)  # Output: [10, 'Hello', 5, True]

# Adding elements
my_list.append("World")
print(my_list)  # Output: [10, 'Hello', 5, True, 'World']

# Removing elements
my_list.remove(5)
print(my_list)  # Output: [10, 'Hello', True, 'World']

10
True
['Hello', 3.14]
[10, 'Hello', 5, True]
[10, 'Hello', 5, True, 'World']
[10, 'Hello', True, 'World']

In [113]:
# append(): Adds an element to the end of the list.
# Syntax: list.append(element)

my_list = [1, 2, 3]
my_list.append(4)  # List becomes [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [129]:
# insert(): Inserts an element at a specified index.
# Syntax: list.insert(index, element)
# Syntax: list.insert(index, element)

my_list = [1, 2, 3]
my_list.insert(1, 'a')  # List becomes [1, 'a', 2, 3]
my_list

[1, 'a', 2, 3]

In [131]:
# remove(): Removes the first occurrence of a specified element from the list.
# Syntax: list.remove(element)

my_list = [1, 2, 3, 2]
my_list.remove(2)  # List becomes [1, 3, 2]
my_list

[1, 3, 2]

In [133]:
# pop(): Removes the element at a specified index (or the last element if no index is provided) and returns it.
# Syntax: list.pop(index)

my_list = [1, 2, 3]
last_element = my_list.pop()  # Removes and returns 3; list becomes [1, 2]
print(last_element)

element_at_index_0 = my_list.pop(0)  # Removes and returns 1; list becomes [2]
print(element_at_index_0)

3
1

In [135]:
# index(): Returns the index of the first occurrence of a specified element. Raises a ValueError if the element is not found.
# Syntax: list.index(element)

my_list = [1, 2, 3]
index_of_2 = my_list.index(2)  # Returns 1
print(index_of_2)

1

In [137]:
# count(): Returns the number of occurrences of a specified element in the list.
# Syntax: list.count(element)

my_list = [1, 2, 2, 3]
count_of_2 = my_list.count(2)  # Returns 2
print(count_of_2)

2

In [139]:
# sort(): Sorts the elements of the list in ascending order. The list is sorted in place.
# Syntax: list.sort()

my_list = [3, 1, 2]
my_list.sort()  # List becomes [1, 2, 3]
my_list

[1, 2, 3]

In [141]:
# reverse(): Reverses the order of the elements in the list in place.
# Syntax: list.reverse()

my_list = [1, 2, 3]
my_list.reverse()  # List becomes [3, 2, 1]
my_list

[3, 2, 1]

In [163]:
# reference assignment

a = [1, 2, 3]
b = a

# here no new list is created
# a and b point to the same object in memory.

print(a) 
print(b)

# Changing a also changes b (because both are the same list).
a[0]="kunal"
b

[1, 2, 3]
[1, 2, 3]

['kunal', 2, 3]

In [171]:
import copy

a = [[1, 2, 3], [4, 5, 6]]

# Creating a shallow copy of the nested list 'original'
b = copy.copy(a)

# Modifying an element in the shallow-copied list
b[0][0] = 99

# Printing the original and shallow-copied lists  
print(a)
print(b)

[[99, 2, 3], [4, 5, 6]]
[[99, 2, 3], [4, 5, 6]]

In [178]:
a = [[1, 2, 3], [4, 5, 6]]

# Creating a deep copy of the nested list 'a'
b = copy.deepcopy(a)

# Modifying an element in the deep-copied list
b[0][0] = 99 
print(b)
print(a)

[[99, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

Reference Assignment
    - Reference assignment (b = a) doesnâ€™t create a new object; it simply makes both variables point to the exact same memory location.

Shallow Copy
    - A shallow copy creates a new outer container, but all inner elements are still references to the original objects.

Deep Copy 
    - A deep copy creates a completely independent clone by recursively copying both the outer container and all nested objects.

In [180]:
# clear(): Removes all elements from the list, resulting in an empty list.
# Syntax: list.clear()

my_list = [1, 2, 3]
my_list.clear()  # List becomes []
my_list

[]

In [182]:
# built-in func

l = [10, 20, 40, 3, 22] 


# len() Returns the number of elements in a list.
print(len(l))

# max() Returns the maximum element from the list.
print(max(l))

# min() Returns the minimum element from the list.
print(max(l))

# sum() Returns the sum of all elements in the list (works only for numeric lists).
print(sum(l))

# sorted() Returns a new list containing all elements from the original list in sorted order.
sorted_list = sorted(l)
print(sorted_list)

# reversed() Returns an **iterator** that accesses the list in reverse order.
r_l = reversed(l)
r_l = list(r_l) # as it is iterator 
print(r_l)

5
40
40
95
[3, 10, 20, 22, 40]
[22, 3, 40, 20, 10]

In [184]:
# all(): Returns True if all elements in the list are true (or if the list is empty).

my_list = [True, True, True]
print(all(my_list))  # Output: True

True

In [186]:
# any(): Returns True if any element in the list is true. If the list is empty, it returns False.

my_list = [False, True, False]
print(any(my_list))  # Output: True

True

In [188]:
# enumerate(): Adds a counter to the list and returns it as an enumerate object.

my_list = ['a', 'b', 'c']
for index, value in enumerate(my_list):
    print(index, value)  # Output: 0 a, 1 b, 2 c

0 a
1 b
2 c

In [190]:
# Slicing

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:2]
print(mylist)

['apple', 'banana']

In [192]:
# Note: list is mutable, so we can change

In [194]:
# joining two lists
# One of the easiest ways are by using the + operator.

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [196]:
# Another way to join two lists is by appending 
# all the items from list2 into list1, one by one:)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [198]:
# extend() method,
# where the purpose is to add elements from one list to another list:)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Python Tuples

Tuples are a built-in data type in Python that are similar to lists but with some key differences.
- Ordered
- Immutable
- Heterogeneous
- Indexing
- Slicing

In [201]:
# Creating tuples using () and tuple() constructure

# Creating a tuple
my_tuple = (1, 2, 3, 'a', 'b', 'c')
print(my_tuple)
print(type(my_tuple))

# Using the tuple() constructor
another_tuple = tuple([1, 2, 3, 4])
print(another_tuple)
print(type(another_tuple))

(1, 2, 3, 'a', 'b', 'c')
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [203]:
# Accessing elements - indexing
print(my_tuple[0])   # Output: 1
print(my_tuple[3])   # Output: 'a'

# Accessing elements - Slicing
print(my_tuple[1:4])  # Output: (2, 3, 'a')

1
a
(2, 3, 'a')

In [205]:
# Concatenation: You can concatenate two tuples using the + operator.

t_1 = (1, 2, 3)
t_2 = (4, 5, 6)

concatenated = t_1 + t_2  # output: (1, 2, 3, 4, 5, 6)
concatenated

(1, 2, 3, 4, 5, 6)

In [207]:
# Repetition: You can repeat a tuple using the * operator.

repeated = t_1 * 2 # output: (1, 2, 3, 1, 2, 3)
repeated

(1, 2, 3, 1, 2, 3)

In [209]:
# Membership: You can check if an element exists in a tuple using the in operator.

print(2 in t_1)  # output: True

True

In [211]:
len(t_1)

3

In [213]:
# Counting and Indexing:
# count(): Returns the number of occurrences of a specified element.

my_tuple = (1, 2, 3, 'a', 'b', 'c')

count_of_a = my_tuple.count('a')  # Output: 1
print(count_of_a)

# index(): Returns the index of the first occurrence of a specified element.
index_of_3 = my_tuple.index(3)  # Output: 2
print(index_of_3)

1
2

#### Tuples vs. Lists
* **Mutability**: Lists are mutable (you can change their contents), while tuples are immutable.
* **Performance**: Tuples generally have a smaller memory footprint and can be slightly faster than lists, making them suitable for fixed collections of items.

#### When to Use Tuples
* When you want to store a collection of items that should not change throughout the program.
* When you need to use a collection as a dictionary key (since tuples are hashable, while lists are not).

In [216]:
# Add items in tuples

# Convert into a list:)
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"  # then assign the val -> than finally convert to the tuple
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [218]:
# Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [220]:
a = (10) # this is not tuples its a int

type(a)

int

In [222]:
a = (10,) # this is 

type(a)

tuple

In [223]:
del a # completely deleting tuple

In [224]:
# Packing: Collecting multiple values into a single container 
# (like a tuple or list).

packed_tuple = (1, 2, 3)
packed_list = [4, 5, 6]

print(packed_tuple)
print(packed_list)

(1, 2, 3)
[4, 5, 6]

In [225]:
# Unpacking: Extracting values from a container and assigning them to individual variables.

a, b, c = (1, 2, 3)  # Unpacks tuple
x, y, z = [4, 5, 6]  # Unpacks list

print(a)
print(x)

1
4

In [226]:
# Asterisk (*) Unpacking: Captures multiple remaining elements into a single variable

a, *b = (1, 2, 3, 4)  # a = 1, b = [2, 3, 4]

print(a)
print(b)

1
[2, 3, 4]

### Python Sets
Sets are a built-in data type in Python that represent a collection of unique elements.
- Unordered
- Unique Elements
- Mutable
- Supports Mathematical Operations

In [228]:
# Creating Sets
# We can create a set using curly braces {} or the set() constructor.

# Using curly braces
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Using the set() constructor
another_set = set([1, 2, 3, 4, 5])
print(another_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [229]:
# Common Set Operations
# Adding Elements: we can add a single element or 
# multiple elements to a set using the add() and update() methods.

my_set = {1, 2, 3}
my_set.add(4)  # Add a single element
print(my_set)  # Output: {1, 2, 3, 4}

my_set.update([5, 6, 7])  # Add multiple elements
print(my_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [230]:
# Removing Elements: You can remove elements using remove() or discard() 
# (which doesn't raise an error if the element is not found).

my_set.remove(4)  # Removes 4 from the set
print(my_set)     # Output: {1, 2, 3, 5, 6, 7}

my_set.discard(10)  # Does not raise an error if 10 is not found
print(my_set)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [231]:
# Clearing a Set: You can remove all elements from a set using the clear() method.

my_set.clear()
print(my_set)  # Output: set()

set()

In [232]:
# Set Operations
# Sets support various mathematical operations that are very useful:

# Union: Combines elements from two sets.
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a | set_b  # or set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [233]:
# Intersection: Finds common elements in both sets.
intersection_set = set_a & set_b  # or set_a.intersection(set_b)
print(intersection_set)  # Output: {3}

{3}

In [234]:
# Difference: Elements in one set but not in another.

difference_set = set_a - set_b  # or set_a.difference(set_b)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [235]:
# Symmetric Difference: Elements in either of the sets but not in both.

symmetric_difference_set = set_a ^ set_b  # or set_a.symmetric_difference(set_b)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [236]:
# Set Comprehensions
# Similar to list comprehensions, you can create sets using set comprehensions.

squared_set = {x ** 2 for x in range(10)}
print(squared_set)  # Output: {0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [237]:
# remove(): if the item to remove does not exist, remove() will raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [238]:
# discard(): If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [239]:
s = {10, 20, 30, 40, 50}

print(s.pop())
print(s)     #Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

50
{20, 40, 10, 30}

In [240]:
# The clear() method empties the set:

s.clear()

print(s)

set()

In [241]:
# del keyword will delete the set completely:

a = {10, 30, 20, 40}
del a
# print(a)  ## NameError: name 'a' is not defined

### Short Notes on Set Methods

| Method                       | Shortcut | Description                                                              |
|------------------------------|----------|--------------------------------------------------------------------------|
| `add()`                      |          | Adds an element to the set.                                             |
| `clear()`                    |          | Removes all the elements from the set.                                  |
| `copy()`                     |          | Returns a copy of the set.                                             |
| `difference()`               | -        | Returns a set containing the difference between two or more sets.      |
| `difference_update()`        | `-=`     | Removes the items in this set that are also included in another, specified set. |
| `discard()`                  |          | Removes the specified item from the set.                               |
| `intersection()`             | `&`      | Returns a set that is the intersection of two other sets.              |
| `intersection_update()`      | `&=`     | Removes the items in this set that are not present in other specified set(s). |
| `isdisjoint()`              |          | Returns whether two sets have an intersection or not.                   |
| `issubset()`                | `<=`     | Returns whether another set contains this set or not.                  |
| `<`                          |          | Returns whether all items in this set are present in other specified set(s). |
| `issuperset()`              | `>=`     | Returns whether this set contains another set or not.                  |
| `>`                          |          | Returns whether all items in other specified set(s) are present in this set. |
| `pop()`                      |          | Removes and returns an arbitrary element from the set.                 |
| `remove()`                   |          | Removes the specified element from the set.                             |
| `symmetric_difference()`     | `^`      | Returns a set with the symmetric differences of two sets.              |
| `symmetric_difference_update()` | `^=`   | Inserts the symmetric differences from this set and another.           |
| `union()`                    | `|`      | Returns a set containing the union of sets.                            |
| `update()`                   | `|=`     | Updates the set with the union of this set and others.                |

### Python Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates

`As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered`.

In [244]:
# Creating a Dictionary
# we can create a dictionary using curly braces {} or the dict() constructor.

# Using curly braces
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict['name'])


# Using dict() constructor
my_dict = dict(name="Alice", age=30, city="New York")
print(my_dict)

Alice
{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [245]:
# Accessing Dictionary Elements
print(my_dict["name"])  # Output: Alice

Alice

In [246]:
# Modifying a Dictionary

my_dict["age"] = 31          # Update existing value
my_dict["occupation"] = "Engineer"  # Add new key-value pair

In [247]:
my_dict

{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}

In [248]:
# Removing Elements- pop(), del, or clear()

# Remove a specific key-value pair
my_dict.pop("age")  # Removes the key "age"

# Remove a specific key-value pair using del
del my_dict["city"]

# Clear all elements
my_dict.clear()

### Common Dictionary Methods

| Method       | Description                                                                                              |
|--------------|----------------------------------------------------------------------------------------------------------|
| `keys()`     | Returns a view object that displays a list of all the keys in the dictionary.                          |
| `values()`   | Returns a view object that displays a list of all the values in the dictionary.                        |
| `items()`    | Returns a view object that displays a list of the dictionary's key-value tuple pairs.                   |
| `get(key)`   | Returns the value associated with the key. If the key is not found, it returns `None` (or a specified default value). |
| `update(other_dict)` | Updates the dictionary with the key-value pairs from another dictionary.                         |

In [250]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing elements
print(person["name"])  # Output: Alice

# Modifying elements
person["age"] = 31
person["occupation"] = "Engineer"

# Removing an element
person.pop("city")

# Using methods
print(person.keys())   # Output: dict_keys(['name', 'age', 'occupation'])
print(person.values()) # Output: dict_values(['Alice', 31, 'Engineer'])
print(person.items())  # Output: dict_items([('name', 'Alice'), ('age', 31), ('occupation', 'Engineer')])

Alice
dict_keys(['name', 'age', 'occupation'])
dict_values(['Alice', 31, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 31), ('occupation', 'Engineer')])

### Python If...else
if-else statement is used for decision-making. It allows us to execute certain blocks of code based on a condition.

**Syntax**
```python
if condition:
    # Code block executed if the condition is True
else:
    # Code block executed if the condition is Fa
```lse

In [252]:
age = 18

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

### elif (Else if)
We can check multiple conditions using elif (short for "else if"). This is useful when there are multiple conditions to evaluate.

**Syntax**
```Python
if condition1:
    # Code block executed if condition1 is True
elif condition2:
    # Code block executed if condition2 is True
else:
    # Code block executed if none of the above conditions are True

In [254]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

### Nested if-else
We can also nest if statements inside other if or else blocks.

In [283]:
num = 10

if num > 0:
    if num % 2 == 0:
        print(f"{num} is a positive even number.")
    else:
        print(f"{num} is a positive odd number.")
else:
    print(f"{num} is a negative number.")

10 is a positive even number.

### One-liner if-else (Ternary Operator)
Python also supports a shorthand for if-else known as the ternary operator.

**Syntax**:
```python
value_if_true if condition else value_if_false

In [286]:
age = 18
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

### input()
The input() function in Python is used to take input from the user. It reads a line of text entered by the user and returns it as a string. 

We can use input() to prompt the user for information, and it is commonly used in interactive programs.

**Syntax**:

```python
input([prompt])
```

- prompt (optional): A string that is displayed to the user, asking for input. It's not mandatory, but providing a prompt makes the input process clearer.

#### Example 1: Basic `input()`

In [290]:
name = input("Enter your name: ")
print("Hare Krsna, " + name + "!")  # here, the input() function displays the prompt "Enter your name: ", 
# waits for the user to type a name, and stores it in the variable name. The value is then printed.

Enter your name:  kj

Hare Krsna, kj!

#### Example 2: Input and Data Conversion
The `input()` function always returns the user's input as a string. If we need another data type, such as an integer or a float, we must convert it explicitly using `int()`, `float()`, etc.

In [137]:
age = int(input("Enter your age: "))
print("You are " + str(age) + " years old.")
# Here, the user inputs their age, and we use int() to convert the input from a string to an integer before using it.

Enter your age:  21

You are 21 years old.

#### Example 3: Input without a prompt
We can also use `input()` without any prompt.

In [139]:
data = input()
print("You entered:", data)
# In this case, input() doesn't prompt the user for anything specific but still waits for input.

 dkj

You entered: dkj

#### Using input() in a simple program

In [141]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 + num2
print("The sum is:", result)

Enter first number:  1
Enter second number:  1

The sum is: 2

#### Important Note:
In Python, **indentation** (spaces or tabs at the start of a line) defines code blocks. Other languages like C or Java use curly braces `{}` to show where a block starts and ends. In Python, indentation tells the interpreter which lines of code belong together.

### Example:
```python
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligiblor
 yet")

**If statement, without indentation (will raise an error):**

In [292]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (591280916.py, line 4)

###  Python Loops

Python has two primitive loops commands:)
- `while` loops
- `for` loops

Loops allow you to execute a block of code multiple times.

#### while loop

The `while` loop repeatedly executes a block of code as long as the condition is `True`.

**Syntax**:
```python
while condition:
    # Code to execute

In [ ]:
i = 1
while i < 5:
    print(i)
    i += 1

In [ ]:
n = 5
while n:
    print(n)
    n -= 1

#### for loop
The for loop iterates over a sequence (such as a list, tuple, string, or range) and executes a block of code for each element.

**Syntax**:
```python
for variable in sequence:
    # Code to execute

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
name = "kunal"
for n in name:
    print(n)

### Entry Control vs. Exit Control Loops

| Feature           | Entry Control Loop (`while`, `for`) | Exit Control Loop (`do-while`) |
|-------------------|-------------------------------------|--------------------------------|
| Condition Check   | Before the loop body                | After the loop body            |
| Minimum Iteration | May not execute even once           | Executes at least once         |
| Loop Type         | `while`, `for`                      | `do-while` (in C, C++)         |

#### Control Statements for Loops:
`break`: Terminates the loop prematurely.

`continue`: Skips the current iteration and continues with the next one.

`pass`: Does nothing and can be used as a placeholder.

#### Example of `break`:

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

#### Example of `continue`:

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

#### Example of `pass`:

In [ ]:
for i in range(5):
    if i == 3:
        pass
    print(i)

#### `else` with Loops
Both for and while loops can have an optional else block, which is executed when the loop terminates normally (not through break).

In [ ]:
for i in range(3):
    print(i)
else:
    print("Loop completed")

#### `range()` Function
The `range()` function generates a sequence of numbers, typically used in loops.

**Syntax:**
```python
range(start, stop, step)
```
- start (optional): Beginning of the sequence (default is 0).
- stop (required): End of the sequence (exclusive).
- step (optional): Step/increment between numbers (default is 1).

In [ ]:
# Basic Range:)

for i in range(5):
    print(i)  # Output: 0 1 2 3 4

In [ ]:
# Range with START and STOP:)

for i in range(1, 10):
    print(i)

In [ ]:
# Range with STEP
for i in range(0, 10, 2):
    print(i)

In [ ]:
# Range with NEGATIVE STEP:)
for i in range(10, 0, -2):
    print(i)  # Output: 10 8 6 4 2

In [ ]:
a = range(10)
a

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
print(list(a))

### Python Functions:)

- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- 
A function can return data as a esultl
- It allows you to group related statements for modular programming.

**Functions enhance code reusability, readability, and organization. They encapsulate logic and allow for better maintainability of your code.**

**Syntax**:
```python
def function_name(parameters):
    # Code block
    return value  # Option
```

**Calling a Function:**
```python
function_name(arguments) # Example: add_num(10, 
t.

In [147]:
# TCS Asked this question in campus drive -> 2024
def divisibility_check(n):
    """Check if the sum of the digits of n is divisible by 3."""
    digit_sum = 0
    while n > 0:
        ld = n % 10  # Get the last digit
        digit_sum += ld  # Add it to the digit_sum
        n //= 10  # Remove the last digit

    return digit_sum % 3 == 0  # Return True if divisible by 3, otherwise False

# Test the function
print(divisibility_check(12))  # Output: True
print(divisibility_check(123))  # Output: True
print(divisibility_check(14))   # Output: False

True
True
False

#### Default Arguments:

- You can set default values for parameters, allowing the function to be called with fewer arguments.

In [149]:
def greet(name="Guest"):
    print(f"Hello, {name}!")


greet('kunal')
greet()

Hello, kunal!
Hello, Guest!

#### Keyword Arguments:

- When calling a function, you can specify parameters by name, making your code more readable.

In [ ]:
greet(name="kunal")  # Output: Hello, kunal!

#### Variable-Length Arguments:

Use `*args` for non-keyword variable-length arguments and `**kwargs` for keyword variable-length arguments.

In [151]:
def add(*numbers):  # Non-keyword
    return sum(numbers)

def print_info(**info):  # Keyword
    for key, value in info.items():
        print(f"{key}: {value}")


print(add(10, 20, 30, 40, 4, 5, 3, 78))
print()

print_info(name="kunal", age=20, city="Pandhurna")
print_info(job="Data Engineer", company="Tech Corp", experience="4 years")

190

name: kunal
age: 20
city: Pandhurna
job: Data Engineer
company: Tech Corp
experience: 4 years

#### Scope of Variables:

Variables defined inside a function have a local scope and cannot be accessed outside the function. Global variables can be accessed from inside the function but can only be modified using the `global` keyword.

In [ ]:
global_var = "I am a global variable"  # This variable is global

def access_global():
    print(global_var)  # Accessing the global variable

def modify_global():
    global global_var  # Declare that we want to use the global variable
    global_var = "I have been modified"  # Modifying the global variable

# Accessing the global variable
access_global()  # Output: I am a global variable

# Modifying the global variable
modify_global()

# Accessing the modified global variable
access_global()  # Output: I have been modified

#### Documentation:

- You can use docstrings (enclosed in triple quotes) to document the purpose of the function, which can be accessed using the `help()` function or `.__doc__ ` attribute.

In [153]:
def add_numbers(a, b=0):
    """Return the sum of a and b."""
    return a + b

# Calling the function
result = add_numbers(5)
print(result)  # Output: 5

5

In [155]:
help(add_numbers)

Help on function add_numbers in module __main__:

add_numbers(a, b=0)
    Return the sum of a and b.

In [157]:
add_numbers.__doc__

'Return the sum of a and b.'

### Python Lambda

A lambda function is a small anonymous func

A lambda func can take any no of args, but can only have expression.

**Syntax**:
```python
    lambda args: exp

```

- Lambda functions are useful for creating quick, single-use functions without formally defining them using `def`.
- They are often used in higher-order functions like `map()`, `filter()`, and `sorted()`.

In [ ]:
# A simple lambda function that adds two numbers
add = lambda x, y: x + y
result = add(3, 5)  # Call the lambda function
print(result)  # Output: 8

In [ ]:
# function definition to make a function that always triples the number you send in:

def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

### Connect me on: [X (formerly twitter)](https://x.com/kunald08_) | [LinkedIn](https://linkedin.com/in/kunaldharpure)